<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <form method="POST" action="/new">

        <label for="text-input"> Your Message:
            <input type="text" name="text" id="text-input">
        </label>
        <hr class="invisible">
        <label for="author-input"> Your Name:
            <input type="text" name="username" id="author-input">
        </label>
        <hr class="invisible">
        <button type="submit"> Submit</button>

</body>

</html>
</form>